@font-face {
   font-family: 'MyriadWebPro';
   font-display: swap;
   src: url('file:///Users/henrikchristensen/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-03-23_150359/fonts/MyriadWebPro/font.ttf');
}
